<html>   
    <head>
        <meta charset="utf-8">
        <title>Node-Exercise</title>
    </head>  
    <body>
        <div>
            <p>Name: <%= character.name %></p>
            <p>Height: <%= character.height %></p>
            <p>Mass: <%= character.mass %></p>
            <p>Hair Color: <%= character.hair_color %></p>
            <p>Skin Color: <%= character.skin_color %></p>
            <p>Eye Color: <%= character.eye_color %></p>
            <p>Birth Year: <%= character.birth_year %></p>
            <p>Gender: <%= character.gender %></p>
        </div>
    </body>
</html>

